.profile-picture {
    border-radius: 50%;
    width: 50%;
    height: auto;
    max-width: 300px;
    margin: 30px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

p {
    margin-top: 4px;
    margin-bottom: 0px;
}
